[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
colored = "*"
marshmallow-dataclass = "*"
marshmallow = "*"
colorama = "*"
pandas = "*"
prettytable = "*"
requests = "*"
regex = "*"
matplotlib = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
